@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* shared styles start */
.container {
  max-width: 1060px;
  width: 100%;
  margin: 0px auto;
}

.btn-primary {
  background-color: rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1.12rem;
  padding: 16px 40px;
  border-radius: 42px;
  border: none;
}

.floating-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: none;
  padding: 17px 24px;
}

.btn-2 {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 14px;
}

/* shared styles end */

/* header section start */
.header-container {
  width: 100%;
  background-color: black;
  /* background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  background-image: linear-gradient(rgba(17, 17, 17, 1) rgba(119, 119, 119, 0));
  background-blend-mode: overlay;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0px 32px;
}

.nav-links > li {
  list-style: none;
  padding: 0px 47px;
}

.nav-links > li:first-child {
  padding-left: 0px;
}

.nav-links > li:last-child {
  padding-right: 0px;
}

.nav-links > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 1.12rem;
}

.nav-links {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}

.nav-link {
  padding: 8px 20px;
}

.home-bg {
  background-color: rgba(230, 83, 60, 1);
  border-radius: 46px;
}

.logo {
  color: rgba(230, 83, 60, 1);
  font-weight: 800;
  font-size: 2.25rem;
  font-style: italic;
}

.hamburger-menu {
  display: none;
}

/* banner section starts */
.banner-container {
  width: 100%;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  width: 50%;
}

.banner-profile-img {
  width: 35%;
  position: relative;
}

.banner-profile-img > img {
  width: 100%;
}

.banner-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 4.87rem;
}

.span {
  font-style: italic;
  font-weight: 400;
}

.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  margin: 28px 0px;
}

.count-workout-videos {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.title-workout-videos {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  font-size: 0.8rem;
}

.count-tutorial-videos {
  color: rgba(250, 250, 249, 1);
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 8px;
}

.title-tutorial-videos {
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  font-size: 1rem;
}

.floating-card-1 {
  position: absolute;
  top: 20%;
  right: -10%;
}

.floating-card-2 {
  position: absolute;
  top: 75%;
  left: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(230, 83, 60, 1);
  margin-right: 12px;
}
/* banner section end */

/* header section end */

/* main section starts */
.main-container {
  width: 100%;
  background-color: black;
}
/* main section starts */

/* habits section starts */
.change-habits-container {
  padding: 100px 0px;
}

.change-habits-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 58px;
}

.change-habits-content > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 14px;
}

.change-habits-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
}

.change-habits-img-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 100px;
}

.card-img-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1.12rem;
  margin-bottom: 6px;
}

.card-img > img {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
}

.card-img-description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
}

.card-content {
  text-align: center;
}
/* habits section end */

/* run an extra mile section starts */
.run-an-extra-mile-container {
  width: 100%;
  background-color: black;
}

.run-an-extra-mile-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
  padding: 30px 32px 30px 52px;
}

.run-an-extra-mile-content {
  width: 40%;
}

.run-an-extra-mile-content > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 3rem;
}

.run-an-extra-mile-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin: 14px 0px 34px;
}

.run-an-extra-mile-img {
  width: 40%;
}

.run-an-extra-mile-img > img {
  width: 100%;
  border-radius: 18px;
}
/* run an extra mile section end */

/* team section starts */
.team-container {
  width: 100%;
  background-color: black;
}

.team-content-container {
  border: 1px solid red;
  padding: 88px 0px;
}

.team-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
  margin-bottom: 58px;
}

.team-content > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 3rem;
}

.team-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 14px;
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  border: 1px solid red;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}
.team-card {
  position: relative;
  border: 1px solid red;
}
.team-card-title {
  position: absolute;
  top: 75%;
  left: 5%;
}

.team-card-title > h4 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 1.25rem;
}

.team-card-title > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 3px;
}

.team-card > img {
  width: 100%;
  height: 272px;
  border-radius: 18px;
}

/* team section end */

/* bmi calculator section starts */
.bmi-calculator {
  width: 100%;
  background-color: black;
}

.bmi-calculator-content {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0px;
}

.bmi-calculator-content > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 3rem;
}

.bmi-calculator-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 14px;
}

.bmi-calculator-container {
  width: 100%;
  background-color: rgba(34, 34, 34, 1);
  padding: 50px 0px;
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator-chart {
  width: 40%;
}

.calculate-bmi {
  width: 50%;
}

.calculator-chart > h3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 50px;
}

.calculator-chart > table {
  border-collapse: collapse;
}

.calculator-chart > table td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
}

.calculate-bmi > h3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 1.75rem;
}

.calculate-bmi > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 14px;
  margin-bottom: 34px;
}

.calculator-btn {
  margin-top: 34px;
}
.form-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font: 1rem;
  border-radius: 8px;
  padding: 13px 20px;
  border: none;
}

/* bmi calculator section end */

/* footer section starts */
.footer-container {
  width: 100%;
  background-color: rgba(34, 34, 34, 1);
}

.footer-column-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.footer-content {
  width: 40%;
}

.footer-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 20px;
}

.footer-column > ul > li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-column > ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1.44rem;
}

.footer-column > h3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 39px;
}

.footer-logo > .logo {
  font-size: 4.37rem;
}

.footer-bottom {
  padding-bottom: 35px;
}

#hr {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  border: none;
}

.copy-right {
  margin-top: 35px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1.25rem;
}

/* footer section end */

/* Responsive design starts for tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
}

/* Responsive design end for tablet devices */

/* Responsive design starts for mobile devices */
@media screen and (max-width: 576px) {
  /* header styles start */
  .nav-container {
    padding: 52px 20px;
  }

  .logo {
    font-size: 2.25rem;
  }
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .banner-container {
    flex-direction: column;
    padding: 0px 20px;
  }

  .banner-content {
    width: 100%;
    margin-bottom: 48px;
  }
  .banner-title {
    font-size: 2.25rem;
    /* width: 60%; */
  }

  .span {
    font-size: 2.25rem;
  }

  .banner-btn {
    display: flex;
  }

  /* header styles end */

  /* habits section starts */
  .change-habits-container {
    padding: 0px 38px 66px;
  }

  .change-habits-content {
    width: 100%;
    padding: 0px 10px 58px;
  }

  .change-habits-content > h1 {
    font-size: 2rem;
    margin-bottom: 14px;
  }

  .change-habits-content > p {
    font-weight: 400;
  }

  .change-habits-img-card {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .card-img-title{
    margin-top: 30px;
    margin-bottom: 6px;
  }

  /* habits section end */
}

/* Responsive design end for mobile devices */
